.aero-globe {
  animation: globo_move 15s alternate infinite;
  background: #FFD66E;
  border-radius: 40%;
  border-top: .15rem solid #B00000;
  height: 4rem;
  position: absolute;
  width: 8rem;
  z-index: 0;
}

.aero-globe:before {
  background-color: #FFD66E;
  border-radius: 2rem;
  bottom: -4.25rem;
  content: '';
  height: .5rem;
  left: 24.5%;
  width: 4rem;
  z-index: 3;
}

.aero-globe:before,
.aero-globe > .detailBottom,
.aero-globe > .left,
.aero-globe > .right {
  position: absolute;
}

.aero-globe:before {
  background-color: #B00000;
  border-radius: 2rem;
  bottom: -4.1rem;
  content: '';
  height: .5rem;
  left: 24.5%;
  width: 4rem;
  z-index: 3;
}

.aero-globe > .detailBottom,
.aero-globe > .left,
.aero-globe > .right {
  background-color: #FFD66E;
}

.aero-globe > .left,
.aero-globe > .right {
  border-radius: 40%;
  height: 8rem;
  top: 0;
  width: 5rem;
  z-index: 2;
}

.aero-globe > .left {
  border-left: .15rem solid #B00000;
  left: 5%;
  transform: rotate(-30deg);
}

.aero-globe > .right {
  border-right: .15rem solid #B00000;
  right: 5%;
  transform: rotate(30deg);
}

.aero-globe > .detailBottom {
  border-bottom: .15rem solid #B00000;
  border-radius: 50%;
  bottom: -5rem;
  height: 2rem;
  left: 3rem;
  width: 2rem;
  z-index: 1;
}

.aero-globe > .detailBottom:before,
.aero-globe > .detailBottom:after {
  background-color: #FFD66E;
  border-bottom: .15rem solid #B00000;
  border-radius: 10rem;
  content: '';
  height: 2.85rem;
  position: absolute;
  top: -.75rem;
  width: 1rem;
  z-index: 1;
}

.aero-globe > .detailBottom:before {
  border-left: .15rem solid #B00000;
  left: -.25rem;
  transform: rotate(30deg);
}

.aero-globe > .detailBottom:after {
  border-right: .15rem solid #B00000;
  right: -.25rem;
  transform: rotate(-30deg);
}

.aero-globe > .stripLeft,
.aero-globe > .stripRight,
.aero-globe > .basket {
  position: absolute;
}

.aero-globe > .stripLeft,
.aero-globe > .stripRight {
  background: black;
  height: 9rem;
  top: 6rem;
  width: .05rem;
}

.aero-globe > .stripLeft{
  left: 35%;
  transform: rotate(15deg);
}

.aero-globe > .stripRight {
  right: 35%;
  transform: rotate(-15deg);
}

.aero-globe > .basket {
  background-color: #E0AB2F;
  border: .1rem solid #3F1010;
  border-right: none;
  height: 3rem;
  left: 1.75rem;
  top: 14rem;
  transform: skewX(25deg);
  width: 3rem;
}

.aero-globe > .basket:before {
  background: #E0AB2F;
  border: .1rem solid #3F1010;
  border-left: none;
  content: '';
  height: 100%;
  right: -50%;
  position: absolute;
  top: -.1rem;
  transform: skewX(-45deg);
  width: 100%;
}

@keyframes globo_move {
  0% {
    left: 15%;
    top: 5%;
  }
  25% {
    top: 15%;
  }
  40% {
    top: 10%;
  }
  50% {
    top: 5%;
  }
  75% {
    top: 15%;
  }
  100% {
    left: 45%;
    top: 5%;
  }
}